.form__credit-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__credit-group-elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
}

.form__container-credit {
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}