{% extends 'base_admin.html' %}

{% block title %}Кредиты{% endblock %}

{% block content %}
    <div class="container account__container">
        <div class="credit-admin__content">
            <div class="account__title">
                <h1 class="account__rate-title"><b>Заявки на кредиты</b></h1>
            </div>

            {%  if applications %}
                <table class="credit-admin__table">
                    <tr class="account__table-row">
                        <td class="account__table-column_header">Запрошенная сумма</td>
                        <td class="account__table-column_header">Тип кредита</td>
                        <td class="account__table-column_header">Процентная ставка</td>
                        <td class="account__table-column_header">MAX срок (мес.)</td>
                        <td class="account__table-column_header">Дата запроса</td>
                        <td class="account__table-column_header">Пользователь</td>
                        <td class="account__table-column_header">Почта</td>
                        <td class="account__table-column_header">Статус</td>
                    </tr>
                    {% for apps in applications %}
                        <tr class="account__table-row">
                        <td class="account__table-column">{{ apps.amount }}</td>
                        <td class="account__table-column">{{ apps.type.type_name }}</td>
                        <td class="account__table-column">{{ apps.type.interest_rate }}</td>
                        <td class="account__table-column">{{ apps.type.term }}</td>
                        <td class="account__table-column">{{ apps.request_date.strftime('%Y-%m-%d') }}</td>
                        <td class="account__table-column">
                            {{ apps.user.last_name + ' ' + apps.user.first_name + ' ' + apps.user.patronymic }}
                        </td>
                        <td class="account__table-column">{{ apps.user.email }}</td>
                        <form method="POST" action="/update_status">
                            <td class="account__table-column">
                                {% if not apps.status %}
                                    <input type="hidden" name="app_id" value="{{ apps.id }}">
                                    <button class="btn" d="approve-btn">Ok</button>
                                {% else %}
                                    Одобрено
                                {% endif %}
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p class="account__no-text">Заявок на кредиты нет.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}