{% extends 'base.html' %}

{% block title %}Платежи{% endblock %}

{% block content %}
    <div class="container transaction__container">
        <div class="sidebar">
            <nav class="trans__nav-navigation">
                <a href="/transfer_transaction" id="trans1" class="nav__link pb_nav__btn">
                    Переводы между счетами
                </a>
                <a href="/currency_transaction" id="trans3" class="nav__link pb_nav__btn">
                    Операции с валютой
                </a>
                <p id="trans2" class="nav__link pb_nav__btn">
                    Платежи
                    <div class="submenu">
                        <nav class="trans__nav-navigation">
                            <a href="/refill_transaction" class="nav__link pb_nav__btn">Пополнение счета</a>
                            <p class="nav__link pb_nav__btn">
                                Вклады и Кредиты
                                <div class="submenu">
                                    <nav class="trans__nav-navigation">
                                        <a href="/credit_transaction" class="nav__link pb_nav__btn">Оплата кредита</a>
                                        <a href="#" class="nav__link pb_nav__btn">Поплнение вклада</a>
                                    </nav>
                                </div>
                            </p>
                        </nav>
                    </div>
                </p>
            </nav>
        </div>

        <div class="transaction__content">
            <div class="profile__title">
                <h1 class="profile__rate-title"><b>{% block trans_title %}{% endblock %}</b></h1>
            </div>

            {% block trans_form %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

