{% extends 'transaction.html' %}

{% block trans_title %}Пополнение счета{% endblock %}

{% block trans_form %}
<form method="POST" class="form-trans">
    {{ form.hidden_tag() }}

    <div class="form__refill-group">
        <div class="form__container-acc form__input-container">
            <input class="trans__form-input" type="number" name="amount"
                   placeholder="{{ form.amount.label.text }}"
                   pattern="[0-9]+(\.[0-9]+)?">
        </div>

        <div class="form__container-acc form__input-container" id="to_account">
            <select class="trans-form__select" name="to_account">
                {% for account in form.to_account.choices %}
                    <option value="{{ account[0] }}">{{ account[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form__container form__btn_container-acc">
        <button class="btn account__btn">Подтвердить</button>
    </div>
</form>
{% endblock %}
