{% extends 'base.html' %}

{% block title %}Платежи{% endblock %}

{% block content %}
    <div class="container transaction__container">
        <div class="sidebar">
            <nav class="trans__nav-navigation">
                <a href="/transfer_transaction" id="trans1" class="nav__link pb_nav__btn">
                    Переводы между счетами
                </a>
                <a href="/payment_transaction" id="trans2" class="nav__link pb_nav__btn">
                    Платежи
                </a>
                <a href="/currency_transaction" id="trans3" class="nav__link pb_nav__btn">
                    Операции с валютой
                </a>
            </nav>
        </div>

        <div class="transaction__content">
            <div class="profile__title">
                <h1 class="profile__rate-title"><b>{% block trans_title %}{% endblock %}</b></h1>
            </div>

            {% block trans_form %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

